alembic==1.17.2
certifi==2025.11.12
charset-normalizer==3.4.4
class-resolver==0.7.1
click==8.3.1
click-default-group==1.2.4
colorlog==6.10.1
dataclasses-json==0.6.7
docdata==0.0.5
filelock==3.20.0
fsspec==2025.10.0
idna==3.11
Jinja2==3.1.6
joblib==1.5.2
Mako==1.3.10
MarkupSafe==3.0.3
marshmallow==3.26.1
more-click==0.1.3
more-itertools==10.8.0
mpmath==1.3.0
mypy_extensions==1.1.0
networkx==3.6
numpy==2.3.5
obonet==1.1.1
optuna==4.6.0
packaging==25.0
pandas==2.3.3
pykeen==1.11.1
pystow==0.7.11
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
scikit-learn==1.7.2
scipy==1.16.3
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.44
sympy==1.14.0
tabulate==0.9.0
threadpoolctl==3.6.0
torch==2.9.1
torch-max-mem==0.1.4
torch-ppr==0.0.8
tqdm==4.67.1
typing-inspect==0.9.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
